# System Ports
PORT=5001

# MQTT Broker Configuration
# For local dev: mqtt://localhost:1883
# For Docker: mqtt://mqtt:1883
MQTT_BROKER_URL=mqtt://localhost:1883

# Simulator Configuration
VESSEL_ID=V001
VESSEL_START_LAT=18.9000
VESSEL_START_LNG=72.5000
