@import "tailwindcss";
@import './styles/theme.css';
@import './styles/fonts.css';

@source "../index.html";
@source "./**/*.{js,ts,jsx,tsx}";
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--marine-dark);
  color: var(--marine-text);
  overflow-x: hidden;
}